body{
    color: black;
    font-family:  Helvetica, sans-serif;
}

#hero-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.react-calendar {
    border: none !important;
    /* background-color:red  !important; */
    /* background-color: #; */
    
}

.Pday {
background-color: #9f86c0 !important;
color: white !important;
font-weight: 600 !important;
font-size: 21px !important;
border-radius: 10px;
transform: scale(0.75);
transition: transform 0.5s ease; 

/* border: 2px solid red !important; */
/* border-radius: 50%; */
}

.NormalDays{
background-color: white !important;
color: black !important;
}

.slick-slide.slick-current .cards {
    /* background-color: rgb(245, 151, 167); */
    /* opacity: 1; */
    transition: opacity 0.3 ease;
    /* border: 3px solid red; Change border for selected card */
    transform: scale(1.4);
    transition: transform 0.6s ease; /* Smooth transition */
}

.balls{
font-size: 13px;
font-weight: 500;
font-family: "PT Serif Caption", serif;
opacity: 0.5;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.slick-slide.slick-current .balls{
    opacity: 1;
}
.slick-track{
    height: 150px;
    padding-top: 25px;
    /* border: 1px solid black; */
}
.slick-list{
    height: 150px;
    /* border: 1px solid black; */
}
.tiles{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 8px;
    height: 50px !important;
    width: 50px !important;
}
.react-calendar__navigation__arrow   {
    /* color: whi; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    font-size: 25px;
}
.react-calendar__month-view__weekdays{
    font-size: 15px !important;
}
.react-calendar button:enabled:hover{
    background-color: pink;
}
.react-calendar__navigation {
    color: #231942;
    /* background-color: #231942; */
    font-weight: 500;
    font-size: 17px;
}
.helvica-font{
    font-family:  Helvetica, sans-serif;
}
@keyframes cirlce-animation {
    0% {transform: scale(1);
    ;}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

.cricle-animate{
    animation-name: cirlce-animation  ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}